.nav{
  background-color: black;
  display: flex;
}
.slidebar{
  color: white;
  font-family: 'Roboto Slab', serif;
  margin-left: 5rem;
  display: flex;
  flex-direction: row;
  position: relative;
  cursor: pointer;
}
.slideBarMenu{
  color: white;
  font-family: 'Roboto Slab', serif;
  display: flex;
  flex-direction: row;
  position: relative;
  cursor: pointer;
  opacity: 60%;
  transition: opacity 0.5s ease-in-out,box-shadow 0.5s ease-in-out;
}
.slideBarMenu:hover{
  opacity: 100%;
  box-shadow: rgb(210, 210, 210) 5px 5px, rgb(180, 180, 180) 10px 10px, rgb(120, 120, 120) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;  border-radius: 2px;
  background-color: rgb(240, 240, 240);
  color: black;
}
.home{
  color: white;
  font-family: 'Roboto Slab', serif;
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 1.5rem;
}
.name{
  margin-left: 2rem;
}
.navContents{
  color: white;
  margin-left: 58rem;
  position: absolute;
}
.drawerlist{
  display: flex;
  flex-direction: row;
  padding: 0 0 0 0;
  margin-left: 2rem;
  margin-right: 2rem;
  color: white;
  width: 170px;
  border-radius: 15px;
  transition: color 1s ease, border-color 0.7s ease,background-color 0.5s ease-in-out;
}
.drawerlist:hover{
  background-color: white;
  border-radius: 15px;
  color:black;
  width: 170px;
}
.drawercontent{
  font-size: 1.5em;
}
.logout{
  background-color: transparent;
  border: none;
  color: white;
  font-family: 'Roboto Slab', serif;
  cursor: pointer;
  margin-left: 60rem;
}