.container {
  background-color: black;
  height: 150vh;
  width: 100%;
  background-size: cover;
}
.home{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bigCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 2rem;
  padding: 1.5rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  transition: color 1s ease, border-color 0.7s ease,background-color 0.5s ease-in-out;
  width: 500px;
  height: 350px;
  border-radius: 15px;
}

.bigCard:hover,
.bigCard:focus,
.bigCard:active {
  display: flex;
  flex-direction: column;
  color: white;
  border-radius: 15px;
  width: 500px;
  height: 350px;
  background-color: black;
}
.pictureBigCard{
  margin-top: 2rem;
  width: 80%;
  border-radius: 15px;
}
.GamelistContentRight{
  display: flex;
  flex-direction: column;
}
.rightContent{
  margin-left: 2rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  transition: color 1s ease, border-color 0.7s ease,background-color 0.5s ease-in;
  width: 300px;
  height: 150px;
  border-radius: 15px;
}
.rightContent:hover,
.rightContent:focus,
.rightContent:active {
  text-decoration: none;
  color: white;
  border-radius: 15px;
  width: 400px;
  height: 200px;
  background-color: black;
}
.pictureRightCard{
  margin-top: 1rem;
  width: 50%;
  border-radius: 15px;
}
.pictureBotomCard{
  margin-top: 1rem;
  width: 70%;
  border-radius: 15px;
}
.GamelistContentBotom{
  display: flex;
  flex-direction: row;
  padding-left: 9.5rem;
}
.botomContent{
  margin-top: 1rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  transition: color 1s ease, border-color 0.7s ease,background-color 0.5s ease-in;
  width: 300px;
  height: 150px;
  border-radius: 15px;
}
.botomContent:hover,
.botomContent:focus,
.botomContent:active {
  text-decoration: none;
  color: white;
  border-radius: 15px;
  width: 400px;
  height: 250px;
  background-color: black;
}
.tittle{
  color:white;
  justify-content: center;
  align-items: center;
  display: flex;
}
.gameContent{ 
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.Gamelist{
  background-color: #D72323;
  height: 90vh;
  background-size: cover;
}
.GamelistContent{
  display: flex;
  flex-direction: column;
}
.GamelistTittle{
  font-size: 2em;
  font-weight: 700;
}
.GamelistUser{
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  text-align: center;
  color: inherit;
  text-decoration: none;
  transition: color 1s ease, border-color 0.7s ease,background-color 0.5s ease-in;
  border-radius: 15px;
}
.cardGamelist{
    margin-left: 2rem;
    padding: 1.5rem;
    text-align: center;
    color: inherit;
    text-decoration: none;
    border-radius: 10px;
    transition: color 1s ease, border-color 0.7s ease,background-color 0.5s ease-in;
    width: 400px;
    height: auto;
}
.cardGamelist:hover,
.cardGamelist:focus,
.cardGamelist:active {
  color: white;
  border-color: #3A4750;
  width: 400px;
  height: auto;
  background-color: #3A4750;
}
.picture{
  width: 60%;
}

.buttonGamelist{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 6rem;
  background-color: black;
  color: white;
  transition: color 1s ease, border-color 0.7s ease,background-color 0.5s ease-in;
  width: 150px;
  height: 30px;
  border-radius: 15px;
}
.buttonGamelist:hover,
.buttonGamelist:focus,
.buttonGamelist:active {
  color: black;
  border-color: #3A4750;
  background-color: white;
  border-radius: 15px;
  width: 150px;
  height: 30px;
}
.rowGame{
  background-color: black;
  height: 150vh;
  background-size: cover;
}
.GamelistColGame{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.GamelistCol{
  width: 300px;
  padding-top: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: inherit;
  text-decoration: none;
  transition: color 1s ease, border-color 0.7s ease,background-color 0.5s ease-in;
  border-radius: 15px;
}
.GamelistColContent{
  margin-left: 2rem;
  text-align: center;
  color: inherit;
  text-decoration: none;
  border-radius: 15px;
  transition: color 1s ease, border-color 0.7s ease,background-color 0.5s ease-in;
 }
 .GamelistColContent:hover,
 .GamelistColContent:focus,
 .GamelistColContent:after{
  text-decoration: none;
  color: white;
  border-radius: 15px;
  background-color: black;
 }
.GamelistPicture{
 margin-top: 1rem;
  border-radius: 15px;
  width: 80%;
}
.promo{
  height: 100vh;
  background-color: #3A4750;
  background-size: cover;
}
.contentContainer{
  position: relative;
  margin-left: 5rem;
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
}
.inputContent{
  color:antiquewhite;
}
.inputContainer{
  position: absolute;
  margin-left: 45rem;
  margin-top: 9rem;
}
.inputField{
  width: 200px;
  height: 50px;
  border-radius: 15px;
  border: black;
  background-color: white ;
}
.spanRegistration:hover{
  color: #EA4335;
  transition: color 0.15s ease, border-color 0.15s ease;
}
.card {
  margin-left: 10rem;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  width: 450px;
  max-width: 450px;
}

.card:hover,
.card:focus,
.card:active {
  color: white;
  border-color: red;
}
.button {
  position: absolute;
  overflow: hidden;
  align-items: center;
  margin-left: 1rem;
  gap: 12px;
  height: 56px;
  width: 208px;
  padding: 0 22px;
  border: 0;
  border-radius: 15px;
  color: #f7f7f7;
  background: #d62959;
  cursor: pointer;
}

.text {
  position: absolute;
  left: 64px;
  display: block;
  white-space: nowrap;
  font-size: 17px;
  font-weight: 600;
}

.icon {
  font-size: 30px;
}

.button.sending .text {
  animation: textAnimation 5s both;
}

.button.sending .icon {
  animation: iconAnimation 5s both;
}

@keyframes textAnimation {
  0%,
  30% {
    translate: 0 0;
  }
  39.9% {
    translate: 0 100px;
  }
  40% {
    translate: 300px 100px;
  }
  40.1% {
    translate: 300px -60px;
  }
  40.2% {
    translate: 33px -60px;
  }
  45% {
    translate: 33px 0;
  }
  95% {
    translate: 33px 0;
  }
  100% {
    translate: 0 0;
  }
}

@keyframes iconAnimation {
  0%,
  5% {
    translate: 0 0;
  }
  20%,
  30% {
    translate: -250px 0;
  }
  40% {
    translate: 200px 0;
    scale: 2;
  }
  40.1% {
    translate: 200px -60px;
    scale: 1;
  }
  40.2% {
    translate: 34px -60px;
  }
  45%,
  95% {
    translate: 34px 0;
  }
  100% {
    translate: 0 0;
  }}
